<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>

  {{#unless meta}}
    <meta name="description" content="The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Our Revolution" />
    <meta property="og:description" content="The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in." />
    <meta property="og:url" content="https://ourrevolution.com" />
    <meta property="og:site_name" content="Our Revolution" />
    <meta property="og:image" content="https://ourrevolution.com/img/fb.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Our Revolution"/>
    <meta name="twitter:description" content="The next step for Bernie Sanders' movement is a new group called Our Revolution, which will fight to transform America and advance the progressive agenda that we believe in."/>
    <meta name="twitter:site" content="@OurRevolution"/>
    <meta name="twitter:image" content="https://ourrevolution.com/img/fb.png"/>
  {{/unless}}

  {{#if meta}}
    <meta name="description" content="{{meta.description}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:site_name" content="Our Revolution" />
    <meta property="og:image" content="https://ourrevolution.com/img/fb.png" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{title}}"/>
    <meta name="twitter:description" content="{{meta.description}}"/>
    <meta name="twitter:site" content="@OurRevolution"/>
    <meta name="twitter:image" content="https://ourrevolution.com/img/fb.png"/>
  {{/if}}

  <meta name="google-site-verification" content="ULKRcIZysCOsq4SLKSbW7ymdJ93OyRWwSMZpBfBPJN0" />

  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css' />
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <img height="1" width="1" style="border-style:none; display:none !important;" alt="" src="//insight.adsrvr.org/track/evnt/?adv=m2ywu23&ct=0:wfbkcfp&fmt=3"/>

  {{> nav}}

  <div class="container-fluid">
    {{{body}}}
  </div>

  {{> footer}}

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

  {{#if active.about}}
    <script>
      $(document).ready(function() {
        var goals = {
          "revitalize" : "Our Revolution will revitalize American democracy by unifying the millions of people who got involved over the course of U.S. Senator Bernie Sanders’ presidential campaign in support of progressive causes. Our Revolution will give the people a major voice in the political system by activating supporters and engaging millions more Americans in the political process.",

          "empower": "Our Revolution will empower the next generation of progressive leaders by inspiring and recruiting progressive candidates to run for offices across the entire spectrum of government. From school boards to congressional seats, a new generation of political leaders, dedicated to transforming America’s corrupt campaign finance system and rigged economy, will become involved. Our Revolution will provide candidates inspired by the “political revolution,” with the unparalleled digital tools, organizing knowledge and grassroots support, which may include fundraising, successfully utilized throughout Senator Sanders’ campaign.",

          "elevate": "The corporate media has largely failed to cover the issues critical to the future of our country: from the devastating effects of climate change to the decline of the middle class. Our Revolution will educate the public about the most pressing issues confronting our nation and the bold solutions being offered. This effort will ensure that drowned out voices are heard and become an important part of the local, state and national dialogue."
        }

        $('.goals__title').on('click touchstart', function() {
          $('.goals__title').removeClass('active');
          $(this).addClass('active');

          $('.goals__description p').text(goals[$(this).data("value")]);
        });
      });
    </script>
  {{/if}}

  {{#if active.home}}
    <script>
      $(document).ready(function() {
        var keycode;

        $('.btn-amount').on('click touchstart', function(e) {
          e.preventDefault();
          $("input#amount").val(this.value);
          $('form#quick-donate').submit();
        });

        $('.input-amount').on('keyup', function(e) {
          keycode = (event.keyCode ? event.keyCode : event.which);

          $("input#amount").val(this.value);

          if(keycode == 13) {
            $('form#quick-donate').submit();
          }
        });
      });
    </script>
  {{/if}}

  {{#if active.issues}}
    <script>
      $(document).ready(function() {
        $('.glyphicon-chevron-down').on('click touchstart', function(e) {
          e.preventDefault();
          $(this).closest('ul').toggleClass('expanded');
        })

        $('.toggle-nav__icon').on('click touchstart', function(e) {
          e.preventDefault();
          $('.issues__nav').toggleClass('expanded');
          if($('.toggle-nav__icon').hasClass('glyphicon-menu-hamburger')) {
            $('.toggle-nav__icon').removeClass('glyphicon-menu-hamburger');
            $('.toggle-nav__icon').addClass('glyphicon-remove');
          } else {
            $('.toggle-nav__icon').removeClass('glyphicon-remove');
            $('.toggle-nav__icon').addClass('glyphicon-menu-hamburger');
          }
        })
      });
    </script>
  {{/if}}

  {{#if active.initiatives}}
    <script>
      $(document).ready(function() {
        $('.toggle-nav__icon').on('click touchstart', function(e) {
          e.preventDefault();
          $('.issues__nav').toggleClass('expanded');
          if($('.toggle-nav__icon').hasClass('glyphicon-menu-hamburger')) {
            $('.toggle-nav__icon').removeClass('glyphicon-menu-hamburger');
            $('.toggle-nav__icon').addClass('glyphicon-remove');
          } else {
            $('.toggle-nav__icon').removeClass('glyphicon-remove');
            $('.toggle-nav__icon').addClass('glyphicon-menu-hamburger');
          }
        })
      });
    </script>
  {{/if}}

  {{#unless ENV_DEVELOPMENT}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80816425-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');

      /*
      * Function that tracks a click on an outbound link in Analytics.
      * This function takes a valid URL string as an argument, and uses that URL string
      * as the event label. Setting the transport method to 'beacon' lets the hit be sent
      * using 'navigator.sendBeacon' in browser that support it.
      */
      var trackOutboundLink = function(url) {
         ga('send', 'event', 'outbound', 'click', url, {
           'transport': 'beacon',
           'hitCallback': function(){document.location = url;}
         });
      }
    </script>
  {{/unless}}

  </body>
</html>
