<div class="row">
  <div class="container">
    <div class="page-heading clearfix">
      <h1>Our Initiatives</h1>
    </div>

    <div class="page-sub-nav filter clearfix">
      <input type="search" class="filter__search" placeholder="Search by Name or State...">

      <div class="filter__sort pull-right">
        Sort By:
        <div class="btn-group" role="group" aria-label="Sort By:">
          <button type="button" class="btn btn-default">State</button>
          <button type="button" class="btn btn-default">Category</button></div>
      </div>
    </div>

    <div class="col-md-3">
      {{> initiativesnav }}
    </div>

    <div class="col-md-9">
      <ul class="card-list third">
      {{#each data}}
        {{#if this.show}}
          <li class="card clearfix {{#if this.featured}}featured{{/if}}">
            <a href="/ballot-initiatives/{{@key}}">
              <div class="card__content full">
                <span class="card__item bold smaller">{{this.vote}} on {{this.title}}</span>
                <span class="card__item">{{this.name}}</span>
                <span class="card__item bottom">{{this.state}}</span>
              </div>
            </a>
          </li>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
