<div class="row">
  <div class="container">
    <div class="page-sub-nav">
      <a href="/candidates"><span class="glyphicon glyphicon-chevron-left"></span></a> Our Candidates / {{data.state}} / {{data.name}}
    </div>

    <div class="page-heading">
      <div>
        <h1>{{data.name}}</h1>
        <div>Running for {{data.office}}</div>
        <span>{{data.state}} {{data.district}}</span>
      </div>

      {{#if data.primary_date}}
        <div>
          <div>Primary Date</div>
          <div>{{data.primary_date}}</div>
        </div>
      {{/if}}
    </div>

    {{#if data.website}}
      <div class="candidate-action-bar clearfix">
        {{#if data.primary_cta_enabled}}
          <a href="{{data.primary_cta_link}}" onclick="trackOutboundLink('{{data.primary_cta_link}}'); return false;" class="btn btn-donate" target="_blank">{{data.primary_cta}}</a>
        {{/if}}

        {{#if data.secondary_cta}}
          <a href="{{data.secondary_cta_link}}" onclick="trackOutboundLink('{{data.secondary_cta_link}}'); return false;" class="btn btn-primary" target="_blank">{{data.secondary_cta}}</a>
        {{/if}}

        {{#if data.website}}
          <a href="{{data.website}}" onclick="trackOutboundLink('{{data.website}}'); return false;" class="btn btn-secondary" target="_blank">Website</a>
        {{/if}}

        <div class="pull-right">
          {{#if data.twitter}}
            <a href="{{data.twitter}}" onclick="trackOutboundLink('{{data.twitter}}'); return false;" target="_blank">
              <img alt="Twitter" src="/img/icons/twitter.svg" class="social-icon">
            </a>
          {{/if}}

          {{#if data.facebook}}
            <a href="{{data.facebook}}" onclick="trackOutboundLink('{{data.facebook}}'); return false;" target="_blank">
              <img alt="Facebeook" src="/img/icons/facebook.svg" class="social-icon">
            </a>
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="candidate-content clearfix">
      <div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-4">
        <div class="candidate-photo" style="background-image: url('/img/candidates/profile/{{data.slug}}.jpg')"></div>
      </div>
      <div class="col-md-6 col-sm-9 col-xs-8">
        <p class="candidate-bio">
          {{data.bio}}

          {{#if data.polling_locator}}
            <a href="{{data.polling_locator}}" onclick="trackOutboundLink('{{data.polling_locator}}'); return false;" class="btn btn-block btn-secondary" target="_blank">Find Polling Place</a>
          {{/if}}
        </p>
      </div>
    </div>

    <div class="candidate-sign-up sign-up-form clearfix">
      <div class="col-md-6 col-md-offset-3">
        <h3>Join the fight to get {{data.name}} elected.</h3>
        {{>signupform source=data.slug url="https://go.ourrevolution.com/page/s/candidates-signup"}}
      </div>
    </div>
  </div>
</div>
