<div class="row">
  <div class="container">
    <div class="page-heading clearfix">
      <h1>Our Candidates</h1>
    </div>

    <div>
      <ul class="card-list">
      {{#each data}}
        {{#if this.show}}
          <li class="card clearfix {{#if this.featured}}featured{{/if}}">
            <a href="{{#if this.office}}/candidates/{{@key}}{{/if}}">
              <div class="card__photo" style="background-image: url('/img/candidates/profile/{{@key}}.jpg')"></div>
              <div class="card__content">
                <span class="card__item">{{this.name}}</span>
                <span class="card__item bold smaller">{{this.state}} {{this.district}}</span>
                <span class="card__item bottom">{{this.office}}</span>
              </div>
            </a>
          </li>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
